{% extends "screenTest.html" %}


{% block content1 %}
<div class="max-w-4xl  mx-auto bg-white text-gray-900 p-6 rounded-xl shadow-xl text-center">
    <h2 class="text-xl font-bold text-blue-600 mb-4">Emotion Test {{ current }}/{{ total }}</h2>
   <img src="{{ url_for('static', filename='emotions/' + image_name) }}"
     alt="Emotion Image"
     class="w-full max-w-md mx-auto rounded-xl mb-6 shadow-2xl border-4 border-purple-300 hover:scale-105 transition-transform duration-300" />
    <form method="POST">
        <label class="block mb-2 font-medium text-gray-700">What emotion is the person showing?</label>
        <input type="text" name="emotion" required class="w-full p-3 border rounded mb-4">
        <button type="submit" class="bg-gradient-to-r from-blue-500 to-pink-500 text-white px-6 py-2 rounded-lg">
            Next
        </button>
    </form>
</div>
{% endblock %}
